* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #247BA0;
    padding: 20px 100px 20px 100px;
    margin: 5px 10px 5px 10px;
}

#foto1 {
    width: 70%;
      height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    float: right;
    background-color: darkblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5ADBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5ADBFF;
    height: 22px;
    color: #247BA0;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: aquamarine;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: blue;
    }
    tr:nth-child(odd){
    background-color: green;
    }

th {
    background-color: pink;
    color: white;
}

.footer {
    background-color: #5ADBFF;
    padding: 0.5em;
    text-align: right;
}
.Festa{
    color: white;
}
.Galeria{
    color: #5ADBFF;
    text-align: center;
    padding: 8px;
}
#box{
    width: 150px;
    border: solid 2px black;
    padding: 20px 100px 20px 100px;
    margin: 120px 100px 100p 120px;
}